{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
{% endblock head %}

{% block body %}
<div id = 'main'>

  <form  action="{{ url_for('result') }}" method="post">
    <div class = 'title'>
      PerScent%
    </div>

    <!-- Search form -->
    <div id = 'search-box' class="active-pink-3 active-pink-4 mb-4">
        <input class="form-control" name = "brand_name" type="text" placeholder="輸入任何香水品牌或你想要找的前中後香" aria-label="Search">
    </div>

    <div class="form-group" id = "search-botton">
        <button class="btn btn-outline-secondary">Search</button>
    </div>
  
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Product Name</th>
      <th scope="col">Fragrance Notes</th>
      <th scope="col">Top Notes</th>
      <th scope="col">Middle Notes</th>
      <th scope="col">Base Notes</th>
    </tr>
  </thead>
        
  <tbody>
    {% for row in brand_datas %}  
    <tr>
      <td>{{ row['product_brand'] }}</td>
      <td>{{ row['product_name'] }}</td>
      <td>{{ row['fragrance_notes'] }}</td>
      <td>{{ row['top_notes'] }}</td>
      <td>{{ row['middle_notes'] }}</td>
      <td>{{ row['base_notes'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}

